{{#if showAnswerForm}}
  <h2>Answer the Question</h2>
  <form>
    <div class="form-group">
      <label for="answer">answer: </label>
      {{input value=answer id="answer"}}
    </div>
    <div class="form-group">
      <label for="author">Answered By: </label>
      {{input value=author id="author"}}
    </div>
    <button {{action 'save' question}}>Answer!</button>
  </form>
{{else}}
  <button {{action 'showAnswerForm'}}>Give an Answer</button>
{{/if}}
