<h2>{{#link-to 'question' question.id}}{{question.question}}{{/link-to}}</h2>
Asked by: <h5>{{question.author}}</h5>
<img src="{{question.author_avatar}}" alt="question.question" />
<img src="{{question.image}}" alt="{{question.question}}" />
