{{#if showNewQuestionForm}}
  <h2>Ask Your Question</h2>
  <form>
    <div class="form-group">
      <label for="question">Question: </label>
      {{input value=question id="question"}}
    </div>
    <div class="form-group">
      <label for="author">Asked By: </label>
      {{input value=author id="author"}}
    </div>
    <div class="form-group">
      <label for="notes">Additional Info: </label>
      {{input value=notes id="notes"}}
    </div>
    <button {{action 'save'}}>Ask!</button>
  </form>
{{else}}
  <button {{action 'showNewQuestionForm'}}>Ask a Question</button>
{{/if}}
