{{#if showEditForm}}
  <h2>Edit the Question</h2>
  <form>
    <div class="form-group">
      <label for="question">Question: </label>
      {{input value=question.question id="question" placeholder=question.question}}
    </div>
    <div class="form-group">
      <label for="author">Author: </label>
      {{input value=question.author id="author" placeholder=question.author}}
    </div>
    <div class="form-group">
      <label for="author_avatar">Your Avatar URL: </label>
      {{input value="http://images.edge-generalmills.com/e7f0b471-43b7-42d1-8367-ed5697432a33.jpg" id="author_avatar" placeholder=question.author_avatar}}
    </div>
    <div class="form-group">
      <label for="notes">Notes: </label>
      {{input value=question.notes id="notes" placeholder=question.notes}}
    </div>
    <div class="form-group">
      <label for="image">Image URL: </label>
      {{input value="http://images.edge-generalmills.com/e7f0b471-43b7-42d1-8367-ed5697432a33.jpg" id="image" placeholder=question.image}}
    </div>
    <button {{action 'save' question}}>Save</button>
    <button {{action 'hideEditForm'}}>Cancel</button>
  </form>
{{else}}
  <button {{action 'showEditForm'}}>Edit</button>
  <button {{action 'deleteQuestion' question}}>Delete</button>
{{/if}}
