<div class="post-box">
  {{question-popularity question}}
  <img class="avatar" src="{{question.author_avatar}}" alt="question.question" />
  <h4>Asked by: {{askedBy}}</h4>
  <h2>{{#link-to 'question' question.id}}{{question.question}}{{/link-to}}</h2>
  <img class="q_image" src="{{question.image}}" alt="{{question.question}}" />
  <button {{action 'addToFavorites' question}}>Favorite</button>
</div>
